@import "tailwindcss";
@source "../views";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
  }

@import "gridjs/dist/theme/mermaid.css";



@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* dùng cho carousel của productdetail */
.carousel-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

/* .carouselimg{
  width: 300px;
  height: 300px;
} */

.carousel-wrapper img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-radius: 5px;
}








